page-tickets {
  ion-title {
    .toolbar-title {
      line-height: 20px;
      font-size: 14px;
    }
  }
  h6 {
    font-size: 1.3rem;
  }
  .ticket {
    margin-bottom: 15px; // background:url(../assets/imgs/Ticket_search_results.png) center center;
    background: #fff;
    height: 170px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 20px;
    .info {
      padding-right: 18px;
    }
    img {
      max-width: 80%;
    }
  }
  .likeBtn {
    font-size: 30px;
    position: absolute;
    left: 10px;
    padding: 10px;
  }
  .road {
    background: url(../assets/imgs/road.png) right;
    width: auto;
    height: 50px;
    font-size: 13px;
    padding-right: 15px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .rightPart {
    background: whitesmoke;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 60px;
    right: -45px;
    border-radius: 50%;
    box-shadow: -1px 0px 0px 0px #c4c3c3;
  }
  .leftPart {
    background: whitesmoke;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 60px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 1px 0px 0px 0px #c4c3c3;
  }
  .mg-5 {
    margin: 3px;
  }
  .price {
    width: 80px;
    background: green;
    color: white;
    padding: 10px;
    border-bottom-left-radius: 13px;
    border-top-right-radius: 13px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
  }
  .title {
    padding-top: 6px;
  }
}
