<!--
  Generated template for the TicketsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="myTrips[0]">{{myTrips[0].city_from_name}} - {{myTrips[0].city_to_name}}<br>
    <span ion-text color="grey">اختر تذكرة ذهاب</span></ion-title>
    <ion-buttons end>
      <button (click)="filter()" ion-button icon-only color="royal">
        <ion-icon name="funnel">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar style="background-color:white !important;">
      <ion-row class="bgWhite">
          <ion-col>
            <button (click)="goNextDay()" ion-button clear  icon-only color="royal">
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-col>
          <ion-col text-center><h6 class="date-title">{{goDate}}</h6></ion-col>
          <ion-col text-left>
              <button (click)="goPrevDay()" ion-button clear icon-only color="royal">
                <ion-icon name="arrow-back"></ion-icon>
              </button>
          </ion-col>
        </ion-row>
      
   
  </ion-toolbar>

  </ion-header>

<ion-content padding>
  <ion-row *ngIf="!myTrips[0]">
    <ion-col>
      <p ion-text color="grey">لا توجد رحلات في هذا اليوم</p>
    </ion-col>
  </ion-row>
  <div *ngIf="myTrips[0]">
      <ion-row  *ngFor="let trip of myTrips" class=" ticket curved" (click)="goDetails(trip)">
          <!-- <ion-col col-3 text-center>
            <img src="assets/imgs/east.png">
          </ion-col> -->
          
          
          <ion-col col-10 class="info">
              <div class="rightPart"></div>
            <h6 class="title">{{trip.companyDetails[0].official_name}}</h6>
            <p class="road mg_2_0">{{trip.boarding_point}} - {{trip.boarding_time}}
              <br>{{trip.arrival_time}}</p>
            <b ion-text color="blue">الخدمة : {{trip.trip_class}}</b>
            <p class="mg_2_0">
              <!-- <ion-icon   class=" fa{{ico.icon}}"></ion-icon> -->
              <i *ngFor="let ico of trip.bus_facilities_details" class="mg-5 fa {{ico.icon}}"></i>
            </p>
          </ion-col>
          <ion-col col-2 text-center>
              <div class="leftPart"></div>
            <!-- <ion-icon class="likeBtn" name="heart-outline" ion-text color="danger"></ion-icon> -->
            <span class="price">{{trip.ticket_price}} ج.م</span>
          </ion-col>
      
        </ion-row>
  </div>
  
</ion-content>
