<!--
  Generated template for the MyaccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>حسابي</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  padding>
  <div *ngIf="myToken">
      <div class="upperInfo" padding>
          <div text-center>
            <img src="assets/imgs/avatar.png">
            <h3 *ngIf="user_info">{{user_info.name}}</h3>
          </div>
      
          <p ion-text color="primary" *ngIf="user_info">
            <ion-icon ion-text color="secondary" name="mail"></ion-icon> البريد الالكتروني : {{user_info.email}}</p>
          <p ion-text color="primary" *ngIf="user_info">
            <ion-icon ion-text color="secondary" name="phone-portrait"></ion-icon> الموبايل : {{user_info.phone}}</p>
      </div>
      <ion-list>
          <!-- <ion-item (click)="goSettings()">الضبط</ion-item> -->
          <ion-item (click)="goAbout()">عن تذكرة</ion-item>
          <ion-item (click)="logOut()">تسجيل خروج</ion-item>
      </ion-list>
  </div>
  
  <ion-row *ngIf="!myToken" padding text-center class="bgWhite">
      <ion-col>
        <ion-icon name="information-circle" ion-text color="grey" class="bigFont"></ion-icon>
        <br>
        <p> أنت غير مسجل</p>
        <br>
        <button ion-button block (click)="goLog()">تسجيل دخول</button>
      </ion-col>
  </ion-row>
</ion-content>
