<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      عن تذكره
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <div padding text-center>
    <img src="assets/imgs/logo.png">
  </div>
  <p ion-text color="primary" padding>
      تذكرة هيا شركة ناشئة تأسست على فكرة تجميع شركات اتوبيس النقل البرى فى مكان واحد بحيث تسمح للمسافر بان يحدد رحلتة و يختار مكان الركوب و ايضا اختيار كراسى الاتوبيس و الدفع من خلال فيزا او نقدا من خلال فورى.
      <br>
      تأسست الشركة بواسطة على الدين ادهم و باسم عياد فى عام 2017 و انضمت شركة فورى للمدفعوات الاكترونية كأول مستثمر فى شركة تذكرة لتكنولوجيا المعلومات و الحجز الاكترونى.
<br>
      قامت شركة Bit68 بالتعاون مع شركة TAZCARA بتنفيذ تطبيق الموبايل.
  </p>
  <ion-list>
    <ion-item>
        <ion-icon ion-text color="secondary" name="cog"></ion-icon> اصدار ٠٫٠٫١
    </ion-item>
    <ion-item (click)="socialShare()">
        <ion-icon  ion-text color="secondary" name="share"></ion-icon> مشاركه التطبيق 
      </ion-item>
      <ion-item (click)="goTerms()">
          <ion-icon ion-text color="secondary" name="information-circle"></ion-icon> سياسة الخصوصية
        </ion-item>
  </ion-list>
</ion-content>
