<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>دخول</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div text-center padding>
      <img src="assets/imgs/logo.png">
    </div>
    <div class="myInputs">
      <input [(ngModel)]="email" placeholder="البريد الالكتروني">
      <input [(ngModel)]="password" type="password" placeholder=" كلمة المرور">
    </div>
    <div padding>
      <button ion-button block class="radBtn" color="primary" [disabled]="!email||!password" (click)="login(email,password)" >تسجيل</button>
    </div>
    <p text-center>نسيت كلمة المرور ؟
        <span ion-text color="secondary" (click)="forgotPassword()">ضبط</span>
      </p>
    <p text-center>ليس لديك حساب ؟
      <span ion-text color="secondary" (click)="goReg()">تسجيل</span>
    </p>
  
  </ion-content>
