page-login {
    .myInputs{
        input{
            width: 100%;
            border: 1px solid;
            padding: 5px;
            border-radius: 7px;
            text-indent: 5px;
            margin-bottom:10px;  
        }
        
    }
    .radBtn{
        border-radius: 20px;
    }
}
