<ion-header>

  <ion-navbar color="primary">
    <ion-title>حساب جديد </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center padding>
    <img src="assets/imgs/logo.png">
  </div>
  <div class="myInputs">
    <input [(ngModel)]="myName" placeholder="الاسم بالكامل">
    <input [(ngModel)]="myPhone" placeholder="رقم الموبايل">
    <ion-datetime [(ngModel)]="myDob" pickerFormat="YYYY-MM-DD" placeholder="تاريخ الميلاد"></ion-datetime>
    <input [(ngModel)]="myEmail" placeholder="البريد الالكتروني">
    <input type="password" [(ngModel)]="myPassword" placeholder=" الرقم السري">
    <input type="password" [(ngModel)]="myPasswordConfirm" placeholder="اعادة الرقم السري">
    <br>
  </div>
  <ion-row>
    <!-- <input  [(ngModel)]="gender" disabled><br> -->
    <ion-col text-center>
      <strong (click)="male()" ion-text color="{{maleChoice}}"> ذكر</strong>
    </ion-col>
    <ion-col text-center>
      <strong (click)="female()" ion-text color="{{femaleChoice}}"> انثي</strong>
    </ion-col>
  </ion-row>
  <div padding>
    <button ion-button block class="radBtn" (click)="register(myName,myPhone,myDob,myEmail,myPassword,myPasswordConfirm,gender)" [disabled]="!myName || !myPhone ||!myDob || !myEmail || !myPassword || !myPasswordConfirm || !gender" color="primary">تسجيل</button>
  </div>
  <p text-center>لديك حساب بالفعل ؟
    <span ion-text color="secondary" (click)="goLogin()">دخول</span>
  </p>

</ion-content>