page-register {
    .myInputs{
        input{
            width: 100%;
            border: 1px solid;
            padding: 5px;
            border-radius: 7px;
            text-indent: 5px;
            margin-bottom:10px;  
        }
        ion-datetime{
            background:white;
            border: 1px solid;
            border-radius: 7px;
            margin-bottom:10px;
        }
        .item-cover{
            display: none;
        }
        
    }
    .radBtn{
        border-radius: 20px;
    }
   
}
