<ion-tabs id="tabs">
  <ion-tab [root]="tab1Root" tabTitle="بحث" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="رحلاتي" tabIcon="bus"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="حسابي" tabIcon="contact"></ion-tab>
</ion-tabs>
