<!--
  Generated template for the PaymentmodalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding text-center>
  <img class="fawryLogo" src="assets/imgs/fawry.jpg">
  <h2 ion-text color="light">تم الحجز بنجاح</h2>
  <p>تم ارسال كود الى رقم هاتفك , يرجى التوجه لاقرب منفذ فوري للسداد لتأكيد الحجز</p>
  <button ion-button color="light" (click)="dismiss()">موافق</button>
</ion-content>