<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{trip.city_from_name}} - {{trip.city_to_name}}
      <br>
      <span ion-text color="grey">اختر مقاعد الاتوبيس </span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row class="bgWhite curved service">

    <ion-col col-4>
      <p>
        <ion-icon ion-text color="gold" name="square"></ion-icon> متاح</p>
      <p>
        <ion-icon ion-text color="primary" name="square"></ion-icon> محجوز</p>
    </ion-col>
    <ion-col col-8>
      <strong ion-text color="blue">مستوي الخدمة : {{trip.trip_class}}</strong>
    </ion-col>

  </ion-row>
  <!-- <ion-row text-center class="bus curved" dir="ltr">
    <ion-col *ngFor="let seat of bus" (click)="choose(seat)" col-2>
      <button ion-button block color="{{seat.color}}">
        <span ion-text>{{seat.number}}</span>
      </button>
    </ion-col>
    <ion-row text-center class="backseats">
      <ion-col *ngFor="let seat of backseats" (click)="choose(seat)" col-2>
        <button ion-button block color="{{seat.color}}">
          <span ion-text>{{seat.number}}</span>
        </button>
      </ion-col>
    </ion-row>

  </ion-row> -->
  <br>
  <!-- bus test -->
  <div class="myBus curved">
    <div class="driverZone">
      <img src="assets/imgs/wheel.png">
      <div class="cut"></div>

    </div>
    <!-- <div class="seats">
      <div class="seat" *ngFor="let seat of myBus" (click)="choose(seat)" >
        <button ion-button block color="{{seat.color}}">
          <span ion-text>{{seat.number}}</span>
        </button>
      </div>
    </div> -->
    <div class="seats">
      <div class="seat" *ngFor="let seat of myNewBus" (click)="choose(seat)" >
        <button ion-button block color='{{seat.color}}'>
          <span ion-text>{{seat.seatNo}}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="bottomSection" *ngIf="showPrice">
    <ion-row class=" totalPrice " >
      <ion-col>
        <button ion-button block color="green" (click)="book()">إحجز</button>
      </ion-col>
      <ion-col>
        <p ion-text color="light" text-center> {{mySeats.length}}
          <br> التذاكر</p>
      </ion-col>
      <ion-col>
        <p ion-text color="light" text-center> {{trip.ticket_price}} ج.م
          <br> قيمة التذكرة</p>
      </ion-col>
      <ion-col>
        <p ion-text color="light" text-center> {{total}} ج.م 
          <br> اجمالي الدفع</p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
