page-goticketsdetails {
    .Available-Seat{
        background:goldenrod !important;
    }
    .space{
        background:white !important;
    }
    ion-title{
        .toolbar-title{
            line-height: 20px;
            font-size: 14px;
        }
    }
  .backseats{
      justify-content: space-around;
  }
    .east{
        max-width: 40%;
    }
    .service{
        p{
            margin:0 5px;
        }
        ion-icon{
            margin-right: 5px;
        }
        strong{
            font-size: 12px;
        }
    }
    
    .bus{
    // border: 1px solid grey;
    background: url(../assets/imgs/Bus_bg.png) top center white;
    padding: 95px 35px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 900px;
    .button-ios-grey,.button-md-grey{
        width:98px;
    }
    ion-col{
        padding: 2px 4px !important;
    }
    .button-ios-light,.button-md-light{
        background:transparent !important;
    }
    .button-md{
        box-shadow: unset !important
    }
    
    
}
.bottomSection{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent !important;
    .totalPrice{
        background:rgba(0,0,0,0.9) !important;
        p{
            font-size: 12px;
            line-height: 20px;
        }
        ion-col{
            button{
                height: 90% !important;
            }
        }
    
    }
}



/*test*/
.myBus{
    margin-bottom:100px;
    border: 2px solid darkgray;
    direction: ltr;
    border-radius: 20px;
    background-color: whitesmoke;
    padding: 10px 25px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    display: inline-table;
    .driverZone{
        img{
            max-width: 20%;
        }
        .cut{
            width: 20%;
            height: 40px;
            background: whitesmoke;
            border-right: 2px solid whitesmoke;
            border-left: 2px solid darkgray;
            border-top: 2px solid darkgray;
            border-bottom: 2px solid darkgray;
            float: right;
            position: relative;
            right: -28px;
        }
        .cuttwo{
            width: 20%;
            height: 40px;
            background: whitesmoke;
            border-right: 2px solid whitesmoke;
            border-left: 2px solid darkgray;
            border-top: 2px solid darkgray;
            border-bottom: 2px solid darkgray;
            float: right;
            position: relative;
            right: -28px;
            bottom: 50%;
        }
    }
    .button-ios-grey,.button-md-grey{
        width:200%;
    }
    .seat{
        padding: 2px 4px !important;
        width: 20%;
        float: left;
    }
    .button-ios-light,.button-md-light{
        background:transparent !important;
    }
    .button-md{
        box-shadow: unset !important
    }
    
}
}

