page-booking {
  .promoSection{
    padding-bottom:0px !important;
  }
  .promoInfo{
    padding-top:0px !important;
  }
  input{
    width: 100%;
    border: 1px dashed #ccc;
    text-align: center;
    padding: 5px;
    text-indent: 5px;
}
  ion-title{
    .toolbar-title{
        line-height: 20px;
        font-size: 14px;
    }
}
.item-md h3,.item-ios h3{
  font-size: 11px !important;
}
  .small_mg{
    margin-bottom: 15px;
  }
  .segment-ios .segment-button {
    height: 6.2rem !important;
  }
  .segment-md .segment-button {
    height: 60px;
    line-height: 20px;
    padding-top: 5px;
    border:1px solid color($colors,primary);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; 
  }
  .segment-md .segment-button.segment-activated {
    border-bottom-width: 5px;
  }
  .segment-ios .segment-button:first-of-type {
    // border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .segment-ios .segment-button:not(:first-of-type) {
    // border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  .col {
    padding: 0px;
    border-left: 1px solid #f2f2f2;
  }
  .item-inner {
    border-bottom: unset !important;
  }
  // .segments .col:first-of-type {
  //   border-left: 1px solid rgba(0, 0, 0, 0.12);
  // }
  hr {
    margin: unset;
  }
  .mypadd {
    padding: 0px 10px;
  }
  .bgYellow {
    background: url(../assets/imgs/fawry.jpg)#ffd603;
    height: 70px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .bgBlue {
    background: url(../assets/imgs/visa.jpg);
    height: 70px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ion-list {
    span {
      font-size: 12px;
    }
  }
  .segments{
      ion-item{
          ion-label{
              margin: 0px 5px 5px 0px;
          }
      }
  }
  .segment-md-blue .segment-button.segment-activated{
    border-color: #166790;
    background: #166790;
    color: white;
    opacity: 1;
  }
}
