<ion-header>
  <ion-navbar color="primary">
    <ion-title>اختر طريقة الدفع
      <br>
      <span ion-text color="grey"> مراجعة تفاصيل الحجز </span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  
<!-- in case of single trip show only go segment-->
  <div *ngIf="!myReturnTrip">
    <ion-segment color="blue" [(ngModel)]="way">
      <ion-segment-button class="segment-right" value="go">
        رحلة ذهاب
        <br>
        <span ion-text color="grey">{{myGoTrip.city_from_name}}</span>
      </ion-segment-button>
    </ion-segment>
  </div>
  <!-- in case of single trip show only go list-->
  <div [ngSwitch]="way" *ngIf="!myReturnTrip">
    <ion-list *ngSwitchCase="'go'" >
      <ion-row>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">شركة النقل</span>
            <h3>{{myGoTrip.companyDetails[0].official_name}}</h3>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">الخدمة</span>
            <h3>{{myGoTrip.trip_class}}</h3>
          </ion-item>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">تاريخ السفر</span>
            <h3>{{myGoTrip.tripTravelDate}}</h3>
          </ion-item>
        </ion-col>
        <ion-col class="border-left">
          <ion-item>
            <span ion-text color="grey">التوقيت</span>
            <h3>{{myGoTrip.boarding_time}}</h3>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">محطة الركوب</span>
            <h3>{{myGoTrip.boarding_point}}</h3>
          </ion-item>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">تاريخ الحجز</span>
            <h3>{{booking_date}}</h3>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">رقم الرحلة</span>
            <h3>{{myGoTrip.trip_id}}</h3>
          </ion-item>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row class="small_mg">
        <ion-col>
          <ion-item>
            <span ion-text color="grey">ثمن التذكرة </span>
            <h3>{{myGoTrip.ticket_price}} ج.م</h3>
          </ion-item>
        </ion-col>
        <ion-col class="border-left">
          <ion-item>
            <span ion-text color="grey">عدد التذاكر</span>
            <h3>{{no_of_tickets}}</h3>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">ثمن التذاكر</span>
            <h3 >{{total}} ج.م</h3>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="bgWhite mg small_mg curved">
        <ion-col>
          <p class="mypadd">الرمز الترويجي </p>
          <div class="promoSection" padding text-center>
              <input [(ngModel)]="promoCode">
              <button [disabled]="!promoCode" ion-button color="primary" (click)="activate()">تفعيل</button>
          </div>
          <div class="promoInfo" text-center *ngIf="promoAdded" padding>
            <p ion-text color="green">تم إضافة الرمز</p>
          </div>
          
        </ion-col>
      </ion-row>
      <button ion-button block color="green" class="small_mg">اجمالي قيمة التذاكر {{total}} ج.م</button>

      <!-- <button *ngIf="totalPromo" ion-button block color="green" class="small_mg">اجمالي قيمة التذاكر {{totalPromo}} ج.م</button> -->

      <ion-row class="bgWhite curved">
        <ion-col col-12 padding>
          <span ion-text color="grey">متابعة الدفع </span>
        </ion-col>
        <ion-col (click)="reserve()" col-12 class="bgYellow curved">
        </ion-col>
        <!-- <ion-col class=" curved">
          <button (click)="goCheckout()" ion-button block>متابعة</button>
        </ion-col> -->
      </ion-row>
  
    </ion-list>
  </div>
  


  <!-- in case of round trip show the 2 segments-->
  <div *ngIf="myReturnTrip">
    <ion-segment color="blue" [(ngModel)]="way">
      <ion-segment-button class="segment-right" value="go">
        رحلة ذهاب
        <br>
        <span ion-text color="grey">{{myGoTrip.city_from_name}}</span>
      </ion-segment-button>
      <ion-segment-button  class="segment-left" value="return">
        رحلة عودة
        <br>
        <span ion-text color="grey">{{myReturnTrip.city_from_name}}</span>
      </ion-segment-button>
    </ion-segment>
  </div>
  <!-- in case of round trip show the 2 lists-->
  <div [ngSwitch]="way" *ngIf="myReturnTrip" class="segments">
    <ion-list *ngSwitchCase="'go'">
      <ion-row>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">شركة النقل</span>
            <h3>{{myGoTrip.companyDetails[0].official_name}}</h3>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">الخدمة</span>
            <h3>{{myGoTrip.trip_class}}</h3>
          </ion-item>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">تاريخ السفر</span>
            <h3>{{myGoTrip.tripTravelDate}}</h3>
          </ion-item>
        </ion-col>
        <ion-col class="border-left">
          <ion-item>
            <span ion-text color="grey">التوقيت</span>
            <h3>{{myGoTrip.boarding_time}}</h3>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">محطة الركوب</span>
            <h3>{{myGoTrip.boarding_point}}</h3>
          </ion-item>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">تاريخ الحجز</span>
            <h3>{{booking_date}}</h3>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">رقم الرحلة</span>
            <h3>{{myGoTrip.trip_id}}</h3>
          </ion-item>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row class="small_mg">
        <ion-col>
          <ion-item>
            <span ion-text color="grey">ثمن التذكرة </span>
            <h3>{{myGoTrip.ticket_price}} ج.م</h3>
          </ion-item>
        </ion-col>
        <ion-col class="border-left">
          <ion-item>
            <span ion-text color="grey">عدد التذاكر</span>
            <h3>{{myGo.length}}</h3>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">ثمن التذاكر</span>
            <h3 >{{totalMyGo}} ج.م</h3>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="bgWhite mg small_mg curved">
        <ion-col>
          <p class="mypadd">الرمز الترويجي </p>
          <div class="promoSection" padding text-center>
              <input [(ngModel)]="promoCode">
              <button [disabled]="!promoCode" ion-button color="primary" (click)="activate()">تفعيل</button>
          </div>
          <div class="promoInfo" text-center *ngIf="promoAdded" padding>
            <p ion-text color="green">تم إضافة الرمز</p>
          </div>
        </ion-col>
      </ion-row>
      <button ion-button block color="green" class="small_mg">اجمالي قيمة التذاكر {{myFullTotal}} ج.م</button>

      <ion-row class="bgWhite curved">
        <ion-col col-12 padding>
          <span ion-text color="grey">متابعة الدفع </span>
        </ion-col>
        <!-- <ion-col (click)="showFawryPlugin()" col-6 class="bgYellow curved">
        </ion-col> -->
        <ion-col (click)="reserve()" col-12 class="bgYellow curved">
        </ion-col>
      </ion-row>

    </ion-list>

    <ion-list *ngSwitchCase="'return'">
      <ion-row>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">شركة النقل</span>
            <h3>{{myReturnTrip.companyDetails[0].official_name}}</h3>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">الخدمة</span>
            <h3>{{myReturnTrip.trip_class}}</h3>
          </ion-item>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">تاريخ السفر</span>
            <h3>{{myReturnTrip.tripTravelDate}}</h3>
          </ion-item>
        </ion-col>
        <ion-col class="border-left">
          <ion-item>
            <span ion-text color="grey">التوقيت</span>
            <h3>{{myReturnTrip.boarding_time}}</h3>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">محطة الركوب</span>
            <h3>{{myReturnTrip.boarding_point}}</h3>
          </ion-item>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">تاريخ الحجز</span>
            <h3>{{booking_date}}</h3>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">رقم الرحلة</span>
            <h3>{{myReturnTrip.trip_id}}</h3>
          </ion-item>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row class="small_mg">
        <ion-col>
          <ion-item>
            <span ion-text color="grey">ثمن التذكرة </span>
            <h3>{{myReturnTrip.ticket_price}} ج.م</h3>
          </ion-item>
        </ion-col>
        <ion-col class="border-left">
          <ion-item>
            <span ion-text color="grey">عدد التذاكر</span>
            <h3>{{no_of_tickets}}</h3>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <span ion-text color="grey">ثمن التذاكر</span>
            <h3>{{totalReturn}}</h3>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="bgWhite mg small_mg curved">
        <ion-col>
          <p class="mypadd">الرمز الترويجي </p>
          <div class="promoSection" padding text-center>
              <input [(ngModel)]="promoCode">
              <button [disabled]="!promoCode" ion-button color="primary" (click)="activate()">تفعيل</button>
          </div>
          <div class="promoInfo" text-center *ngIf="promoAdded" padding>
            <p ion-text color="green">تم إضافة الرمز</p>
          </div>
        </ion-col>
      </ion-row>
      <button ion-button block color="green" class="small_mg">اجمالي قيمة التذاكر {{myFullTotal}} ج.م</button>

      <ion-row class="bgWhite curved">
        <ion-col col-12 padding>
          <span ion-text color="grey">متابعة الدفع </span>
        </ion-col>
        <!-- <ion-col (click)="showFawryPlugin()" col-6 class="bgYellow curved">
        </ion-col> -->
        <!-- <ion-col class=" curved">
          <button (click)="goCheckout()" ion-button block>متابعة</button> 
        </ion-col>-->

          <ion-col (click)="reserve()" col-12 class="bgYellow curved">
          </ion-col>
        
      </ion-row>
    </ion-list>
  </div>
</ion-content>