<!--
  Generated template for the FilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-toolbar>
      <ion-row>
        <ion-col>
          <button ion-button clear (click)="filter()" icon-only color="grey">
            <ion-icon name="checkmark"></ion-icon>
          </button>
        </ion-col>

        <ion-col text-left>
          <button ion-button clear (click)="dismiss()" icon-only color="grey">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header color="light">السعر
      <span item-end ion-text color="secondary">{{price.lower}} - {{price.upper}} ج.م</span>
    </ion-list-header>
    <ion-item>
      <!-- <ion-label>Rust</ion-label> -->
      <ion-range color="secondary" dir="ltr" dualKnobs="true" [(ngModel)]="price" min="{{myFilterOptions.min_price}}" max="{{myFilterOptions.max_price}}" step="5"></ion-range>
      <!-- <span range-left>{{price.lower}}</span>
      <span range-right>{{price.upper}}</span> -->
      <ion-icon small range-left name="sunny"></ion-icon>
      <ion-icon range-right name="sunny"></ion-icon>
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-list-header color="light">محطة الركوب</ion-list-header>
    <ion-item>
      <ion-label>محطة الركوب</ion-label>
      <ion-select [(ngModel)]="boarding" multiple="true">
        <ion-option *ngFor="let board of myFilterOptions.boarding_points" value="{{board}}">{{board}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-list-header color="light">مستوى الخدمة </ion-list-header>
    <ion-item>
      <ion-label> اختر درجة الخدمة</ion-label>
      <ion-select [(ngModel)]="class" multiple="true">
        <ion-option *ngFor="let class of myFilterOptions.classes" value="{{class}}">{{class}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="light"> حجم الاتوبيس</ion-list-header>
    <ion-item>
      <ion-label>اختر الحجم </ion-label>
      <ion-select [(ngModel)]="size" multiple="true">
        <ion-option *ngFor="let bus of myFilterOptions.bus_sizes" value="{{bus}}">{{bus}}راكب</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header color="light">شركة النقل </ion-list-header>
    <ion-item>
      <ion-label>اختر شركة النقل </ion-label>
      <ion-select [(ngModel)]="company" multiple="true">
        <ion-option *ngFor="let company of myFilterOptions.companies" value="{{company}}">{{company}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>