<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>الشروط و الاحكام</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<p>
  الشروط و الاحكام عزيزي المسافر، برجاء الاطلاع على كافة الشروط والإرشادات التي بموجبها تقوم شركة تذكرة بحجزالتذاكر لأي شخص و هذه الشروط على كل تذكرة صادرة منا و تحدد الأسس القانونية من قبل الشركة تجاه الراكب (المسافر). ويعتبر أي شخص يسافر على خدمة تذكرة قد وافق على تلك الشروط والأحكام و التي بيانها كالتالي: <br><strong>الاحكام العامة:</strong><br> - على المسافر التواجد في محطه المغادرة قبل الموعد المقرر للرحلة ب 30 دقيقة. وذلك لأتاحه مساحة من الوقت لإجراءات الصعود علي متن الأتوبيس ومنع اي تأخير - يتوقف الاتوبيس فقط ألركاب/ تنزيل الركاب في المحطات الرسمية وفقا لخط السير المعلن للرحلة. <br>- الوصول الي محطه المغادرة قبل موعد الرحلة هو مسئولية خالصة على المسافر. وفي حالة عدم لحاق المسافر بموعد الرحلة تعتبر التذكرة ملغية وال يحق له طلب استرداد قيمة اي مرتجع او تعويض. <br>- لا يسمح بعودة الاتوبيس لمحطة السفر أو نقطة التجمع مره اخري اللتقاط الركاب المتخلفين عن موعد الرحلة بعد تحرك االتوبيس في الموعد المحدد له. <br>- قد يتم ألغاء رحلة او تعديل موعدها وقد يكون ذلك نتيجة لعوامل خارجة عن إرادة الشركة مثل الطقس و حوادث الطرق والتعليمات اللأمنية و المشاكل الفنية الطارئة أو اية ظروف قهرية اخري و في هذه الحالة يحق للمسافر المطالبة بتعويض قيمة التذكرة من شركة الاتوبيس <br>- تذكرة غير مسئوله عن أي مصاريف اضافيه قد يتحملها المسافر في حالة تخلفه عن موعد محدد بسبب التأخير في موعد المغادرة او الوصول. وال يحق المطالبة بتقديم اي تعويض او مرتجع في حالة وجود تأخير ساعه او أقل عن الموعد المحدد للرحلة. <br>- علي المسافر الأتزام بتعليمات السائق اثناء الرحلة و المسافر مسئول عن اي تلف قد يسببه للمقاعد و شاشات العرض أو اية تجهيزات بصالون األتوبيس و يتحمل المسافر قيمة التلفيات و االضرار و كذلك المسائلة القانونية في حالة رفضه التعويض المحدد من قبل الشركة. <br>- في حالة رغبة المسافر بأبداء اية ملاحظات او الأخطار بمشكلة او شكوى بخصوص الخدمة يمكن للمسافر ان يتقدم بأخطار الشركة من خلال القنوات الرسمية مثل فرع الشركة او الموقع الرسمي على الانترنت و في خلال خمسه ايام من تاريخ الوصول و سيتم التحقيق بخصوص الشكوى المقدمة و الرجوع للمسافر خلال 30 يوم. <br><strong>تعليمات الحجز </strong><br>- التذكرة صالحة للسفر على الخدمة المحددة بها والخاضعة للقيود او البيانات المدونة عليها عند الأصدار كنوع الخدمة وتاريخ السفر واليوم والساعة المحددة والسعر وكافة البيانات الأخرى. <br>- يجب على المسافر التاكد جيدا قبل الحجز بمسار الرحلة و وقت القيام و محطة الركوب و الخدمات الخاصة بكل اتوبيس و اسم شركة اتوبيس النقل البرى و معنى الدفع هو انك تاكدت و على علم تام بكل المعلومات السابق ذكرها -<br> يجب ان تحتفظ بتذكرتك (وصل فورى) أثناء الرحلة ويجب ان تقدمها في حال طلبها للفحص. اذا لم تكن تذكرتك معك علي متن الاتوبيس و اتضح عدم قيامك بالحجز مسبقا يتحتم عليك دفع قيمة تذكره أخري طبقا لتوافر المقاعد و حينئذ يتم شراء التذكرة من خلال السائق فقط. <br>- شركة تذكرة لن تقوم باستبدال اي تذاكر مفقودة او مسروقه و في حالة عدم التمكن من اصدار بدل فاقد للتذكرة علي المسافر شراء تذكرة أخري وفقا لقيمه التذكرة المعلنة للتمكن من السفر. <br>- في حالة زيادة او انخفاض أسعار التذاكر المعلنة بعد شراء التذكرة لا يحق مطالبة الشركة بدفع أو استرداد فارق السعر. ولا يمكن استرجاع التذاكر المخفضة الخاصة بالعروض. <br>- من الممكن للسائق ان يُصدر تذكره للراكب في وقت المغادرة وذلك في حاله توافر مقاعد شاغره بالأتوبيس (ترجع للسائق او شركة الاتوبيس) <br>- يحق للشركات النقل البرى المتعاقدة مع تذكرة تعديل جدول الرحلات اليومي او تعديل اسعار التذاكر دون اخطار مسبق. <br>
<strong>تعديل موعد او ألغاء السفر</strong><br> - في حالة عدم الحضور للسفر بالرحلة المحددة بالتذكرة تصبح التذكرة لاغية ولا يحق للمسافر طلب رد قيمة التذكرة او استخدامها على رحلة اخري <br>- لا يحق طلب استرجاع قيمة تذكره غير موجودة او مفقودة او تم سرقتها أذا تبين عدم قيام المسافر بالحجز. <br>- حاليا لا يمكن بيع التذكرة للغير او تغيير موعد الذهاب او العدة بعد الحجز من خلال موقع شركة تذكرة <br>
 <strong>الحجز و الدفع الإلكتروني </strong><br>- في حاله الحجز الالكتروني يرجي التأكد من جميع البيانات الظاهرة على شاشه الحجز الخاصة بالموقع الالكتروني او تطبيق الموبايل الخاص بشركة تذكرة. <br>- يجب على الراكب ان يقدم رقم التذكرة سواء مطبوعة او على الهاتف الذكي الخاص به او وصل شركة فورى للتمكن من ركوب الاتوبيس. المسافرين أصحاب التذاكر الغير محدد فيها تاريخ العودة يجب ان يسجلوا حجز مسبق لرحله العودة وذلك لضمان توافر مقعد. <br>- اقصى عدد تذاكر للحجز هو 8 تذاكر فقط موزعين على الذهاب و العودة فى حالة اردت تذاكر اخرى قم بالدفع فى اقرب منفذ فورى او باستخدام الفيزا و بعد ذلك يمكن للمسافر اختيار 8 تذاكر اخرى. <br>- فى حالة ارجاع ثمن التذاكر ترد قيمة التذاكر بنفس طريقة سدادها. <br>- شركة تذكرة لا تقوم بالتامين على الركاب الحاجزون من خلال موقعنا او من تطبيق الموبايل و نحن غير مسؤلين عن الحوادث التى تحدث لا قدر الله للركاب من خلال شركات النقل البرى المتعاقدة معنا و حفظ الله الجميع.<br>
  <strong>تعليمات السفر</strong> <br>- تأكد من وجودك في الاتوبيس الصحيح: علي المسافر التأكد من وجوده علي متن الأتوبيس الصحيح المتجه الي المكان المحدد الذي قام بالحجز عليه. <br>- التوقف للاستراحة: في حاله التوقف في الاستراحات، يجب الرجوع الي الاتوبيس في الوقت المتاح للاستراحة بالضبط. والشركة غير مُطالبه بتعطيل موعد تحرك الاتوبيس لانتظار مسافر.. ولا يحق المطالبة بدفع أي تعويض او اي مصاريف اضافيه قد تحدث نتيجة تخلف المسافر عن موعد مغادرة الاتوبيس من موقع الاستراحة. <br>- أحزمة الامان: المسافر مُطالب قانونا بارتداء حزام الامان المتاح بالمقعد طوال الوقت أثناء الرحلة. <br>- التدخين ممنوع سواء علي متن الاتوبيس وبناء علي انه لا يوجد دليل حول مدي امان السيجارة الإلكترونية فنحن نطلب من عملائنا الكرام عدم استخدامها ايضا أثناء التواجد علي متن اتوبيسات شركات النقل البرى المتعاقدة معنا <br> سفر الأطفال - الأطفال من سن 4 سنوات تصدر لهم تذكرة كاملة <br>- لا يتم تخصيص مقعد للأطفال أقل من 4 سنوات و لا يتم دفع اي رسوم علي انتقالهم بشرط ان يكونوا بمصاحبه ذويهم.<br>
   <strong>الحقائب و الشحن</strong> <br>- الحقائب يتم تحميلها بالأتوبيس على مسئوليه أصحابها وينطبق عليها الأحكام القياسية للنقل <br>- مسموح لكل راكب بعدد 2 حقيبة متوسطة الحجم علي الا يزيد الوزن الاجمالي عن 35 كيلوجرام وذلك بالإضافة الي حقيبة يد صغيره يمكن وضعها في الرف المخصص في الاتوبيس اعلي الكراسي او في المساحة اسفل كرسي الراكب. <br>- قد تطبق رسوم شحن على اية حقيبة او شحنة اضافية مع المسافر طبقا لرسوم الشحن المقررة بمحطات السفر و علي المسافر سداد القيمة المستحقة قبل موعد السفر علي متن الأتوبيس <br>-يلتزم المسافر على مسئوليته الشخصية من التأكد من استلام ملصق كل حقيبة أو شحنة تابعة له و المصدر من مكاتب الحجز (بمحطة السفر.) الخاصة بشركات النقل البرى المتعاقدة مع تذكرة <br>- شركة تذكرة غير مسؤلة عن متعلقات الركاب او فقدانها او تلفها داخل الاتوبيس او محطة الركوب و هذة مسؤلية الراكب <br>- اذا وجد اي حقيبة او متعلقات تخص راكب آخر بالأتوبيس او بالمحطة علي المسافر تسليمها فورا. وفي حال وجدت اي متعلقات علي متن الاتوبيس يرجي تسليمها فورا للسائق. <br>- الأدوية والنقود والمستندات الخاصة والرسمية او اي أشياء اخري ثمينة لا يجب تحميلها بغرفة الشحن بالأتوبيس ويجب ان تكون ملازمه للراكب طيلة الوقت دون ادني مسئولية علي الشركة.<br>
 <strong>الأمتعة والمواد المحظور نقلها:</strong> <br>- لا يسمح باصطحاب او شحن المأكولات والمشروبات و الخمور علي متن الرحلة و كذلك اصطحاب أو شحن الحيوانات و الطيور و الأسماك. يحق لشركات اتوبيس النقل البرى المتعاقدة مع شركة تذكرة رفض تحميل هذة الامتعة و المواد التى قد يحملها الركاب:<br> 1- الغازات المضغوطة: (المبردة بشدة، القابلة لالشتعال، غير القابلة لالشتعال والسامة واسطوانات التنفس تحت الماء)<br> 2- المواد المسببة للتأكل مثل: االحماض، القلويات وبطاريات الخاليا السائلة <br>3- العوامل المسببة للأمراض مثل: (البكتريا و الجراثيم .. الخ)<br> 4- المتفجرات واالسلحة والذخائر، االلعاب النارية والشعالت المضيئة، كبسوالت المسدس، بندقية الرماية، مسدس االلعاب النارية، الخراطيش الفارغة.<br> <br>5-المواد السائلة والصلبة القابلة لالشتعال مثل: وقود الوالعات او السخانات، علب الكبريت، الدهانات، سوائل تمديد الدهان، الوالعات و المواد سهلة االشتعال<br> 6- المواد المشعة، المواد المؤكسدة مثل: (مسحوق التبييض و البيروكسايد(، المواد السامة مثل: )الزرنيخ السيانيد، مبيدات الحشرات و رش المزروعات)، مواد اخري مثل الزئبق و المواد الممغنطة<br> 7- اي اجهزة او معدات بها زئبق و يمكن حمل المواد و المحاليل الطبية و مواد الزينة في كميات محدودة.<br> 8- الدراجات او الوسائل المماثلة <br>
  <strong>حدود مسئوليه شركة تذكرة </strong><br>- ينحصر دور شركة تذكرة فى توفير و تسهيل خدمة حجز التذاكر الالكترونيا فقط للركاب - يحكم القانون المصري مسؤولية الشركه وحدودها فيما يتعلق بالتعويضات المستحقة تجاه المسافر و اي نزاع او خلاف قد ينشأ بين الناقل و المسافر يتم تفسيره و القضاء فيه بموجب احكام هذا القانون و ينعقد الاختصاص لمحاكم جمهورية مصر العربية دون غيرها من محاكم البلاد و الاقطار الاخرى.

</p>
</ion-content>
