<!--
  Generated template for the MytripsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>رحلاتي</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>
  <div *ngIf="myToken">
    <div>
      <ion-segment color="secondary" [(ngModel)]="type">
        <ion-segment-button class="segment-right" value="next">
          القادمة

        </ion-segment-button>
        <ion-segment-button class="segment-right" value="pend">
          المعلقة

        </ion-segment-button>
        <ion-segment-button class="segment-left" value="prev">
          السابقة

        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="type" class="segments">
      <br>
      <ion-list *ngSwitchCase="'next'">
        <div *ngIf="myNextTrips[0]">
          <ion-row *ngFor="let nt of myNextTrips" class="myticket curved">
            <ion-col col-10 class="info">
              <div class="rightPart"></div>
              <h6 class="title">{{nt.organization}}</h6>
              <p class="mg_2_0" ion-text color="blue">{{nt.fromCity}} - {{nt.toCity}}</p>
              <p class="mg_2_0">تاريخ الرحلة : {{nt.travelDate}}
                <br>
                <b ion-text color="grey">عدد المقاعد : {{nt.Seats}}</b>
              </p>
            </ion-col>
            <ion-col col-2 text-center>
              <div class="leftPart"></div>
              <span class="price">{{nt.totalamount}} ج.م</span>
            </ion-col>
          </ion-row>
        </div>
        <ion-row text-center class="bgWhite" *ngIf="!myNextTrips[0]">
          <ion-col>
            <ion-icon name="information-circle" ion-text color="grey" class="bigFont"></ion-icon>
            <br>
            <p>لا توجد رحلات قادمة</p>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-list *ngSwitchCase="'pend'">
        <div *ngIf="myPendTrips[0]">
          <ion-row *ngFor="let pet of myPendTrips" class="myticket curved">
            <ion-col col-10 class="info">
              <div class="rightPart"></div>
              <h6 class="title">{{pet.organization}}</h6>
              <p class="mg_2_0" ion-text color="blue">{{pet.fromCity}} - {{pet.toCity}}</p>
              <p class="mg_2_0">تاريخ الرحلة : {{pet.travelDate}}
                <br>
                <b ion-text color="grey">عدد المقاعد : {{pet.Seats}}</b>
              </p>
            </ion-col>
            <ion-col col-2 text-center>
              <div class="leftPart"></div>
              <span class="price">{{pet.totalamount}} ج.م</span>
            </ion-col>
          </ion-row>
        </div>
        <ion-row text-center class="bgWhite" *ngIf="!myPendTrips[0]">
          <ion-col>
            <ion-icon name="information-circle" ion-text color="grey" class="bigFont"></ion-icon>
            <br>
            <p>لا توجد رحلات قادمة</p>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-list *ngSwitchCase="'prev'">
        <div *ngIf="myPastTrips[0]">
          <ion-row *ngFor="let pt of myPastTrips" class="myticket curved">
            <ion-col col-10 class="info">
              <div class="rightPart"></div>
              <h6 class="title">{{pt.organization}}</h6>
              <p class="mg_2_0" ion-text color="blue">{{pt.fromCity}} - {{pt.toCity}}</p>
              <p class="mg_2_0">تاريخ الرحلة : {{pt.travelDate}}
                <br>
                <b ion-text color="grey">عدد المقاعد : {{pt.Seats}}</b>
              </p>
            </ion-col>
            <ion-col col-2 text-center>
              <div class="leftPart"></div>
              <span class="price">{{pt.totalamount}} ج.م</span>
            </ion-col>

          </ion-row>
        </div>

        <ion-row text-center class="bgWhite" *ngIf="!myPastTrips[0]">
          <ion-col>
            <ion-icon name="information-circle" ion-text color="grey" class="bigFont"></ion-icon>
            <br>
            <p>لا توجد رحلات سابقة</p>
          </ion-col>
        </ion-row>
      </ion-list>
    </div>
  </div>
  <ion-row *ngIf="!myToken" padding text-center class="bgWhite">
    <ion-col>
      <ion-icon name="information-circle" ion-text color="grey" class="bigFont"></ion-icon>
      <br>
      <p> أنت غير مسجل</p>
      <br>
      <button ion-button block (click)="goLog()">تسجيل دخول</button>
    </ion-col>
  </ion-row>
</ion-content>