page-mytrips {
  .price {
    width: 80px;
    background: color($colors, blue);
    color: white;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
  }
  .myticket {
    margin-bottom: 15px; // background:url(../assets/imgs/Ticket_search_results.png) center center;
    background: #fff;
    height: 140px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 20px;
    .info {
      padding-right: 18px;
    }
    img {
      max-width: 80%;
    }
  }
  .rightPart {
    background: whitesmoke;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 45px;
    right: -45px;
    border-radius: 50%;
    box-shadow: -1px 0px 0px 0px #c4c3c3;
  }
  .leftPart {
    background: whitesmoke;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 45px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 1px 0px 0px 0px #c4c3c3;
  }
  .ticket {
    background: url(../assets/imgs/Ticket_search_results.png) center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
    img {
      max-width: 80%;
    }
    .info {
      padding-right: 18px;
    }
  }
  .mg-5 {
    margin: 3px;
  }
  .title {
    font-size: 16px;
    margin-top: 5px !important;
  }
}
