<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>الاعدادات</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list>
    <!-- <ion-item>
      <button ion-button block (click)="showLanguage()">{{myLang}}</button>
    </ion-item> -->
    <ion-item>
        <button ion-button block color="danger" (click)="logOut()">تسجيل خروج</button>
      </ion-item>
  </ion-list>
</ion-content>
