// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
$toggle-ios-background-color-off:#ed1c24;
$toggle-ios-background-color-on:#22313f !important;
$toggle-ios-handle-background-color:#fff !important;
// $toggle-ios-handle-background-color-off:#ed1c24 !important;

$toggle-md-track-background-color-off:#bb171c;
$toggle-md-handle-background-color-off:#d44d52;
$toggle-md-track-background-color-on:#22313f !important;
$toggle-md-handle-background-color-on:#4074a1 !important;

$toggle-ios-handle-height:25px;

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #22313f,
  secondary:  #ed1c24,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  blue:     #166790,
  green: green,
  grey:rgb(184, 181, 181),
  gold:rgb(224, 155, 6)
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
