// http://ionicframework.com/docs/theming/
.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=true] {
  .tab-button-text {
    font-weight: bold;
  }
}
.paymentModal{
    width:90%;
    height: 90%;
    left: 5%;
    right: 5%;
    top:5%;
    bottom: 5%;
    position: absolute;
    ion-content{
      background:color($colors,dark) !important;
      border-radius: 10px;
    }
}
ion-loading.transparent {
  .loading-wrapper {
    background: transparent;
    box-shadow: none;

    .spinner-crescent circle {
      stroke-width: 2px;
      
    }
  }
  img{
    max-width: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px #fff;
  }
}
.action-sheet-group.action-sheet-group-cancel{
  span.button-inner{
    color:red;
    text-align:left;
  }
}
.date-title{
  font-weight: bold;
  font-size: 17px;
}
.seats{
  margin-top:-20px;
}
.back-button-icon-ios {
  margin: 2px 6px 0px;
  display: inherit;
  min-width: 18px;
  font-size: 3.4rem;
  transform: rotatey(180deg) !important;
}

.back-button-icon-md {
  margin: 2px 6px 0px;
  display: inherit;
  min-width: 18px;
  font-size: 3.4rem;
  transform: rotatey(180deg) !important;
}
.toast-button{
  background:green !important;
  height: 100%;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-text {
  font-weight: bold !important;
}

.bgSmoke {
    background: #fafafa;
  ion-item {
    background: #fafafa;
  }
}
.toolbar-title{
  font-size: 16px;
  text-align: center;
}

/*FONTS*/

@font-face {
  font-family: 'Changa';
  src: url(../assets/fonts/Changa-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Changa';
  src: url(../assets/fonts/Changa-Light.ttf) format('truetype');
  font-weight: lighter;
  font-style: normal;
} // @font-face {
// font-family: 'Changa';
// src: url(../assets/fonts/Changa-ExtraBold.ttf) format('truetype');
// font-weight: bolder;
// font-style: normal;
// }
@font-face {
  font-family: 'Changa';
  src: url(../assets/fonts/Changa-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

// @font-face{
//     font-family: 'Changa';
//     src: url(../assets/fonts/Changa-Regular.ttf),
//     url(../assets/fonts/Changa-Bold.ttf),
//     url(../assets/fonts/Changa-ExtraBold.ttf);
// }
ion-content {
  background: color($colors, light) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
div,
b {
  font-family: 'Changa', sans-serif !important;
  font-weight: normal;
}

.mg_2_0 {
  margin: 2px 0px;
}

.bgWhite {
  background: white !important;
}

.bold {
  font-weight: bold;
}

.curved {
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px #b4b3b3;
}

p {
  color: grey;
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.noWrap {
  overflow: unset !important;
  white-space: initial !important;
  text-overflow: unset !important;
}
.bigFont{
  font-size: 52px;
}
.modal-open .modal{
  background:color($colors,primary) !important;
}
.alert-md .alert-checkbox-icon,.alert-md .alert-radio-icon{
  left: -13px !important;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
