page-intro {
  .swiper-pagination-bullet-active {
    background: #c2c2c2 !important;
  }
  .swiper-pagination{
    z-index: 999;
    bottom: 55px !important;
  }
  .swiper-pagination-bullet{
    opacity: 1;
    background:color($colors,primary);
    z-index: 9;
  }
  .sliderOpt {
    position: absolute;
    bottom: 0;
    button {
      color: #fff !important;
      float:right;
    }
  }
  .logo {
    width: 40%;
    margin-top: 10px;
  }
  .toolbar-background {
    background: color($colors, primary);
    border-color: transparent;
  }
  .slide-zoom {
    height: 100%;
  }
  .slide-title {
    margin-top: 2.8rem;
  }
  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 20px 0;
    margin-bottom:0;
  }
  .full-img{
    height: 94%;
    width:100%;
  }
  b {
    font-weight: 500;
  }
  p {
    padding: 0 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    color: #60646B;
    b {
      color: #000000;
    }
  }
  .finalSlide {
    margin: 50% auto;
  }
}
