<ion-content>
  <ion-slides dir="ltr" pager>
    <!-- <ion-slide>
      <img class="full-img" src="assets/imgs/slide-first.jpg">
    </ion-slide> -->
    <ion-slide *ngFor="let slide of slides">
      <img class="logo" src="assets/imgs/logo.png" *ngIf="slide.image2">
      <img [src]="slide.image" class="slide-image" />
      <img *ngIf="slide.image2" [src]="slide.image2" />
      <p ion-text color="blue" [innerHTML]="slide.description2"></p>
    </ion-slide>
    <ion-slide>
        <img class="full-img" src="assets/imgs/slide4.png">
    </ion-slide>  
  </ion-slides>
  <ion-toolbar class="sliderOpt">
      <ion-buttons>
        <button ion-button color="primary" (click)="start()">تخطي</button>
      </ion-buttons>
  </ion-toolbar>
</ion-content>