
<ion-header  style="background:url('assets/imgs/styleBarTop.png') top center !important;background-size: cover!important;
background-repeat: no-repeat !important;">

  <ion-navbar style="background:transparent !important;">
    <ion-title>الدفع</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <div class="bottomBar"></div>
  <ion-list class="bgWhite">
    <ion-row>
      <ion-col class="border-left">
        <ion-item>
          <span ion-text color="grey">اسم المستفيد</span>
          <h3>{{myInfo.name}}</h3>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <span ion-text color="grey">رقم الهاتف</span>
          <h3>{{myInfo.phone}}</h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col>
        <ion-item>
          <span ion-text color="grey">شركة الاتوبيس </span>
          <h3>{{myGoTrip.companyDetails[0].official_name}}</h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col class="border-left">
        <ion-item>
          <span ion-text color="grey">نوع الحجز </span>
          <h3>ذهاب فقط</h3>
        </ion-item>
      </ion-col>
      <ion-col class="border-left">
        <ion-item>
          <span ion-text color="grey">تاريخ الذهاب </span>
          <h3>{{myGoTrip.tripTravelDate}}</h3>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <span ion-text color="grey"> تاريخ العودة</span>
          <h3>لا يوجد</h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col class="border-left">
        <ion-item>
          <span ion-text color="grey"> الدرجة </span>
          <h3>{{myGoTrip.trip_class}}</h3>
        </ion-item>
      </ion-col>
      <ion-col class="border-left">
        <ion-item>
          <span ion-text color="grey">توقيت الذهاب </span>
          <h3>{{myGoTrip.boarding_time}}</h3>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <span ion-text color="grey"> توقيت العودة</span>
          <h3>لا يوجد</h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col class="border-left">
        <ion-item>
          <span ion-text color="grey"> رحلة الذهاب</span>
          <h3>{{myGoTrip.trip_id}}</h3>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <span ion-text color="grey"> محطة الذهاب</span>
          <h3>{{myGoTrip.boarding_point}}</h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col class="border-left">
        <ion-item>
          <span ion-text color="grey"> رحلة العودة </span>
          <h3>لايوجد</h3>
        </ion-item>
      </ion-col>
      <ion-col class="border-left">
        <ion-item>
          <span ion-text color="grey">محطة العودة </span>
          <h3>لايوجد</h3>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <span ion-text color="grey"> نوع التذكرة</span>
          <h3>كاملة</h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row class="bgGray">
      <ion-col class="border-left">
        <ion-item>
          <span ion-text color="grey"> تاريخ الحجز </span>
          <h3> {{booking_date}}</h3>
        </ion-item>
      </ion-col>
      <ion-col class="border-left">
        <ion-item>
          <span ion-text color="grey"> اسم السايق </span>
          <h3>{{myGoTrip.driverName}}</h3>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <span ion-text color="grey"> هاتف السايق </span>
          <h3>لا يوجد</h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row class="bgGray">
      <ion-col class="border-left">
        <ion-item>
          <span ion-text color="grey"> لوحة الاتوبيس </span>
          <h3>{{myGoTrip.busNo}} </h3>
        </ion-item>
      </ion-col>
      <ion-col class="border-left">
        <ion-item>
          <span ion-text color="grey"> عدد التذاكر </span>
          <h3>{{no_of_tickets}}</h3>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <span ion-text color="grey"> اجمالي الدفع </span>
          <h3>{{payment.amount}} ج.م</h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row class="bgGray">
      <ion-col class="border-left">
        <ion-item>
          <span ion-text color="grey"> طريقة الدفع </span>
          <h3>فوري</h3>
        </ion-item>
      </ion-col>
      <ion-col class="border-left">
        <ion-item>
          <span ion-text color="grey"> رقم الحجز </span>
          <h3>لا يوجد</h3>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <span ion-text color="grey"> الرمز الترويجي </span>
          <h3>لا يوجد</h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row class="bgGray">
      <ion-col>
        <p class="mypadd">اجمالي الدفع : {{payment.amount}} ج.م</p>        
      </ion-col>
    </ion-row>
  </ion-list>
  <!-- <div class="bgWhite" text-center padding>
    <img class="halfWidth" src="assets/imgs/qr.png">
  </div> -->
  <div padding >
    <button ion-button small block (click)="goHome()" >عودة للصفحة الرئيسية</button>
  </div>
</ion-content>