page-checkout {
  .bgGray{
    ion-col{
      ion-item{
        background:#f2f2f2 !important;
      }
    }
    
  }
  .toolbar-background{
    background:transparent !important;
    
  }
  .header-ios .toolbar-background-ios, {
   border-style: unset !important;
  }
  .header-md::after,.header-ios::after{
    background:unset;
  }
  .bottomBar{
    background:url(../assets/imgs/styleBar.png) center center;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .toolbar-title{
    color:white;
    padding-top:6px;
    font-size: 1.4rem;
  }
  .bar-button-default{
    color:white !important;
  }
  .col {
    padding: 0px;
  }
  .item-inner {
    border-bottom: unset !important;
  }
  .segments .col:first-of-type {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
  hr {
    margin: unset;
  }
  .mypadd {
    padding: 0px 10px;
  }
  ion-list {
    span {
      font-size: 12px;
    }
  }
  ion-item{
    ion-label{
        margin: 0px 5px 5px 0px !important;
    }
}
}
