page-notifications {
    .notif{
        h5{
            background:darkorange;
            color:white;
            padding: 5px;
            margin: 0;
        }
        p{
            white-space: normal;
        }
    }
}
