<ion-header>

  <ion-navbar color="primary">
    <ion-title>التنبيهات</ion-title>
    <ion-buttons end>
      <button (click)="dismiss()" ion-button icon-only color="royal">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content>
  <ion-list>
    <div class="notif">
      <ion-item>  
        <h2> لا توجد تبيهات للرحلات</h2>  
      </ion-item>
    </div>
  </ion-list>
</ion-content>