page-search {
  ion-navbar {
    ion-badge {
      position: absolute;
      left: 20px;
      border-radius: 50%;
    }
  }
  .select-text{
    font-weight: bold;
    font-size: 18px;
  }
  
  .rightPart{
    background: whitesmoke;
    width: 20px;
    height: 150px;
    position: absolute;
    top: 30px;
    right: 5px;
    border-radius: 20px;
    box-shadow: -1px 0px 0px 0px #c4c3c3;
  }
  .leftPart{
    background: whitesmoke;
    width: 20px;
    height:150px;
    position: absolute;
    top: 30px;
    left: 5px;
    border-radius: 20px;
    box-shadow: 1px 0px 0px 0px #c4c3c3;
  }
  .small_mg{
    margin-bottom:15px;
  }
  .searchTicket{
    // background:url(../assets/imgs/ticket_search.png) center center;
    background: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    height: 180px;
    border-radius: 10px;
    margin-bottom:16px !important;
    ion-item{
      background:transparent;
      padding-right: 60px;
      padding-left: 50px;
    }
    .item-block:last-child{
      border-bottom: unset !important;
    }
    
  }
  .swapBtn{
    position: absolute;
    left: 45px;
    top: 70px;
    z-index: 2;
    font-size: 30px;
    background: white;
    font-weight: bold;
    border: 10px solid white;
  }
  .road{
    background: url(../assets/imgs/road.png) center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 170px;
    z-index: 9;
    position: absolute;
    right: 50px;
  }
  .separator{
      border-right:1px solid color($colors,light);
  }
  .arrow{
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 12px 1px #888888;
  }
  .list-md{
    margin:-1px 0px 36px;
    
  }
  .toggleSection{
    padding:5px 0px;
  }
}
