<ion-header>

  <ion-navbar color="primary">
    <ion-title>البحث عن رحلة</ion-title>
    <ion-buttons end>
      <button (click)="openNotifications()" ion-button icon-only color="royal">
        <ion-icon name="notifications">
          <ion-badge item-start color="secondary"></ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <ion-list class="searchTicket small_mg curved">
    <div class="rightPart"></div>
    <div class="leftPart"></div>
    <div class="road"></div>
    <!-- <ion-icon class="swapBtn" name="swap"></ion-icon> -->
    <ion-item class="">
      <ion-label stacked ion-text color="secondary">من</ion-label>
      <!-- <h3>القاهرة</h3> -->
      <ion-select interface="action-sheet" [(ngModel)]="fromDestination" (ionChange)="chooseToDestination(fromDestination)">
        <!-- <ion-option value="1" selected>القاهرة</ion-option> -->
        <ion-option *ngFor="let pick of destinations" value="{{pick.id}}" (click)="showTos(pick)">{{pick.city_name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="">
      <ion-label stacked ion-text color="secondary">إلى</ion-label>
      <!-- <h3>الإسكندرية</h3> -->
      <ion-select interface="action-sheet" [(ngModel)]="toDestination">
        <ion-option *ngFor="let dest of myFilteredTos" value="{{dest.id}}">{{dest.city_name}}</ion-option>
        <!-- <ion-option value="2" selected>الإسكندرية</ion-option> -->

      </ion-select>
    </ion-item>
  </ion-list>
  <ion-row class="bgWhite toggleSection curved small_mg">
    <ion-col ion-text color="{{go}}" text-center>ذهاب فقط</ion-col>
    <ion-col col-2 text-center>
      <ion-toggle color="secondary" [(ngModel)]="trip" (ngModelChange)="onChange($event)"></ion-toggle>
    </ion-col>
    <ion-col ion-text color="{{round}}" text-center>ذهاب وعودة</ion-col>
  </ion-row>

  <ion-row class="bgWhite curved">
    <ion-col col-2 padding>
      <img src="assets/imgs/time.png">
    </ion-col>
    <ion-col col-4>
      <span ion-text color="blue">تاريخ الذهاب</span>
      <ion-datetime (ionChange)="dateChange($event)" [(ngModel)]="goDate" [min]="goDate" displayFormat="DDD MMM DD" [max]="goDateMax"
        pickerFormat="MM-DD" ion-text color="secondary"></ion-datetime>
    </ion-col>
    <ion-col col-2 padding class="separator">
      <p></p>
    </ion-col>
    <ion-col col-4 *ngIf="!trip">
      <span ion-text color="secondary">تاريخ العودة</span>
      <ion-datetime [(ngModel)]="returnDate" [min]="returnDate" displayFormat="DDD MMM DD " [max]="returnDateMax" pickerFormat="MM-DD"
        ion-text color="secondary"></ion-datetime>
    </ion-col>
    <ion-col col-4 *ngIf="trip">
      <span ion-text color="grey">تاريخ العودة</span>
      <ion-datetime disabled displayFormat=" MMM DD " ion-text color="secondary"></ion-datetime>
    </ion-col>
  </ion-row>
  <br>
  <ion-row text-center>
    <ion-col>
      <img (click)="goSearch()" class="arrow" src="assets/imgs/arrows.png">
    </ion-col>
  </ion-row>
  <br>
  <!-- <ion-list class="bgWhite curved">
    <ion-list-header class="curved">
      <span ion-text class="bold" color="grey">
        <ion-icon name="notifications" color="secondary"></ion-icon> تنبيهات </span>
    </ion-list-header>
    <ion-item>
        <p class="noWrap">رحلة الذهاب من <span ion-text color="danger">القاهرة</span> الي <span ion-text color="danger">الاسكندرية</span> بتاريخ 23-02-2018 باقي عليها 5 ساعات للتحرك من ميدان عبد المنعم رياض -شركة شرق الدلتا .. رحلة سعيدة يا احمد</p>
    </ion-item>
    <ion-item>
      <h3>لا توجد تنبيهات للرحلات</h3>
    </ion-item>
  </ion-list> -->

  <!-- <ion-list class="bgWhite curved">
    <ion-list-header class="curved">
      <span class="bold" ion-text color="grey">
        <ion-icon name="search" color="secondary"></ion-icon> اخر بحث </span>
    </ion-list-header>
    <ion-item>
      <h3>لا يوجد بحث عن رحلات حتى الان</h3>
    </ion-item>
  </ion-list> -->

  <ion-list class="bgWhite curved">
    <ion-list-header class="curved">
      <span class="bold" ion-text color="grey">
        <ion-icon name="heart" color="secondary"></ion-icon> افضل الخطوط </span>
    </ion-list-header>
    <div *ngIf="topRoutes">
      <ion-item *ngFor="let route of topRoutes">
        <h3>{{route.name}}</h3>
      </ion-item>
    </div>
    <div *ngIf="!topRoutes">
      <ion-item>
        <h3>لم تحدد افضل الخطوط بعد</h3>
      </ion-item>
    </div>



  </ion-list>


</ion-content>