<!--
  Generated template for the ConfirmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>تأكيد التسجيل</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <h3 text-center>ادخل الكود المرسل الي هاتفك</h3>
  <br>
  <input placeholder="****" [(ngModel)]="sms">
  <br>
  <button ion-button small (click)="submitCode(sms)">Submit</button>
</ion-content>